*.egg-info
__pycache__
Session.vim
/build
/dist
/lab
/metadata
/notebooks
/outputs
/release
/release_models
/separated
/tests
/trash
/misc
/mdx
/.lh
/.history
.mypy_cache
.lh/demucs/htdemucs.py.json
.gitignore
.vscode/extensions.json
username.sh
/dataset
.vscode/settings.json
